@page "{handler?}"
@model Clean.UI.Pages.Finance.DailyExpenseModel
@{
    ViewData["Title"] = "DailyExpense";
}
    <div class="panel panel-flat">
        @Html.AntiForgeryToken()
        <div class="panel-heading">
            <h1 class="panel-title">مصارف روزمره</h1>
        </div>
        <div class="panel-body" style="padding-bottom:5px;">
            <form id="dv_Finance_DailyExpense" class="form main-form page-component" type="form" prefix="ux">
                <fieldset class="content-group">
                    <legend class="text-bold">مشخصات مصارف روزمره را وارد کنید </legend>
                    <input type="hidden" id="uxbid" />
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    سال
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <select id="uxyearid" name="uxYearID" class="select" asp-items="@Model.ListOfPersianYears" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    تاریخ
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxdate1" name="uxDate1" class="form-control Shamsi" sibling="uxdate" placeholder="تارخ به شمسی " required />
                                    <input type="hidden" id="uxdate" name="uxDate" class="form-control Miladi" sibling="uxdate1" placeholder="تارخ شمسی " />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    نوعیت مصرف
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <select id="uxexpensetypeid" name="uxExpenseTypeID" class="select" asp-items="@Model.ListOfExpenseTypes" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    نمبر م-۷
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxm7number" name="uxM7Number" type="number" class="form-control search" lang="ps" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    تاریخ م-۷
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxm7date1" name="uxM7Date1" class="form-control Shamsi" sibling="uxm7date" placeholder="تاریخ م-۷ به شمسی " required />
                                    <input type="hidden" id="uxm7date" name="uxM7Date" class="form-control Miladi" sibling="uxm7date1" placeholder="تارخ شمسی " />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    واحد پولی
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <select id="uxcurrencyid" name="uxCurrencyID" class="select" asp-items="@Model.ListOfCurrency" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    واحد پولی تبدیل شده
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <select id="uxconvertedcurrecyid" name="uxConvertedCurrecyID" class="select" asp-items="@Model.ListOfCurrency" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    نرخ تبادله
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxexchangerate" name="uxExchangeRate" type="text" class="form-control search" lang="ps" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    فورم مصرف
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxspentfrom" name="uxSpentFrom" type="text" class="form-control search" lang="ps" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    معتمد
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <select id="uxmutamidid" name="uxMutamidID" class="select" asp-items="@Model.ListOfMutamid" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    تعداد اجناس
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxnumberofitems" name="uxNumberOfItems" type="number" class="form-control search" lang="ps" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    مقدار مجموعی حواله
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxtotalhawalaamount" name="uxTotalHawalaAmount" type="text" class="form-control search" lang="ps" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    مقدار تبادله شده
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxexchangedamount" name="uxExchangedAmount" type="number" class="form-control search" lang="ps" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    فیصدی مالیه
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxtaxpercentage" name="uxTaxPercentage" type="text" class="form-control search" lang="ps" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    تکس
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxtax" name="uxTax" type="text" class="form-control search" lang="ps" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    سکتور خصوصی
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxprivatesector" name="uxPrivateSector" type="text" class="form-control search" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    فیصدی سکتور خصوصی
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxprivatesectorpercentage" name="uxPrivateSectorPercentage" type="text" class="form-control search" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    جریمه
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxpenalty" name="uxPenalty" type="text" class="form-control search" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    مقدار خالص
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxnetamount" name="uxNetAmount" type="number" class="form-control search" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    نمبر مکتوب
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxmaktoobno" name="uxMaktoobNo" type="text" class="form-control search" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    تاریخ مکتوب
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxmaktoobdate1" name="uxMaktoobDate1" class="form-control Shamsi" sibling="uxmaktoobdate" placeholder="تارخ  مکتوب به شمسی " required />
                                    <input type="hidden" id="uxmaktoobdate" name="uxMaktoobDate" class="form-control Miladi" sibling="uxmaktoobdate1" placeholder="تارخ شمسی " />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    نمبر حکم
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxhukamno" name="uxHukamNo" type="text" class="form-control search" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    تاریخ حکم
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxhumkamdate1" name="uxHumkamDate1" class="form-control Shamsi" sibling="uxhumkamdate" placeholder="تارخ  حکم به شمسی " required />
                                    <input type="hidden" id="uxhumkamdate" name="uxHumkamDate" class="form-control Miladi" sibling="uxhumkamdate1" placeholder="تارخ شمسی " />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    تعداد صفحه
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxnumberofpages" name="uxNumberOfPages" type="text" class="form-control search" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    ملاحظات
                                </label>
                                <textarea id="uxcomments" name="uxComments" type="text" class="form-control" lang="ps"></textarea>
                                @*<div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <div class="row div-form-control main-form-details">
                    <div class="col-md-12">
                        <div class="form-group actions">
                            <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>ثبت معلومات</button>
                            <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-left"></i> جستجو  </button>
                            <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i> صفحه جدید </button>
                        </div>
                    </div>
                </div>
                <div class="form-grid main-form-details">
                    <table bindonclick="true">
                        <thead>
                            <tr>
                                <th colname="DateShamsi">تاریخ</th>
                                <th colname="YearName">سال</th>
                                <th colname="M7number">نمبر م-۷</th>
                                <th colname="M7dateShamsi">تاریخ م-۷</th>
                                <th colname="ExchangeRate">نرخ تبادله</th>
                                <th colname="MutamidName">معتمد</th>
                                <th colname="TotalHawalaAmount">مقدار مجموعی حواله</th>
                                <th colname="ExchangedAmount">مقدار تبادله شده</th>
                                <th colname="MaktoobNo">نمبر مکتوب</th>
                                <th colname="MaktoobDateShamsi">تاریخ مکتوب</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </form>
        </div>
        <div class="page-sidebar page-component" type="actionmenu">
        <ul class="navigation navigation-accordion">
            @Html.Raw(@Model.SubScreens)
        </ul>
    </div>
</div>