@page "{handler?}/{id?}"

@model Clean.UI.Pages.Nazam.JobModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Job";
    Layout = null;
}
<div class="panel panel-flat" style="direction: rtl;">
    <div class="panel-heading">
        <h1 class="panel-title">وظیفه</h1>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">
        <form id="dv_Nazam_Job" class="form sub-form page-component" type="form" prefix="uxj" parent="dv_Nazam_Nazim" parentcol="CandidateID">
            <fieldset class="content-group">
                <legend class="text-bold">لطفاً وظیفه  ناظم را وارد نمایید</legend>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                نوع وظیفه
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxjjobtilteid" name="uxjJobTilteID" class="select" asp-items="@Model.ListOfJobTitle" required>
                                <option></option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="text-bold">
                                اداره
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxjorganizationid" name="uxjOrganizationId" asp-items="@Model.ListOfOrganization" class="select ">
                                <option></option>
                            </select>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="text-bold">
                                بست
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxjrankid" name="uxjRankId" class="select" asp-items="@Model.ListOfRanks">
                                <option></option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                عنوان وظیفه
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxjJobTitleText" name="uxjJobTitleText" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                @_localizer["ولایت"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxjprovinceid" name="uxjProvinceId" child="uxjdistrictid" class="select " asp-items="@Model.ListOfProvinces">
                                <option></option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                @_localizer["ولسوالی / ناحیه"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxjdistrictid" name="uxjDistrictId" data-type="Province" class="select " asp-items="@Model.ListOfDistricts">
                                <option></option>
                            </select>

                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>ثبت معلومات</button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-new-tab position-left"></i>جستجو</button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i>صفحه جدید </button>
                    </div>
                </div>
            </div>
            <div class="form-grid">
                <table style="direction: rtl;" bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="CandidateName">نام کاندید</th>
                            <th colname="JobType">نوعیت وظیفه</th>
                            <th colname="JobTitleText">عنوان وظیفه</th>
                            <th colname="OrganizationName">اداره</th>
                            <th colname="ProviceText">ولایت</th>
                            <th colname="DistrictText">ولسوالی</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </div>
</div>
@*<script type="text/javascript">
    $('#uxjjobtilteid').change(function () {


        if ($(this).val() == "3" || $(this).val() == "4" ) {

            debugger;
            $('#organ').hide();

        }
        else
            $('#organ').show();
    });
</script>*@